.private_info_bd{
    float: left;
    margin: 15px 0;
    margin-left: 35px;
    
    width: 900px;
    height: 205px;
}

.private_hd{
    padding-left: 25px;
    width: 100%;
    height: 20%;
    line-height: 46px;
    background: #20B5CD;
    text-align: left;
}

/* form css */

.registerarea {
    height: 522px;
    border: 1px solid #ccc;
    margin-top: 20px;
}
.registerarea h3 {
    height: 42px;
    border-bottom: 1px solid #ccc;
    background-color: #ececec;
    line-height: 42px;
    padding: 0 10px;
    font-size: 18px;
    font-weight: 400;
}
.login {
    float: right;
    font-size: 14px;
}
.login a {
    color: #c81523;
}
.reg_form_seller {
    margin: 0;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 25px;
    width: 100% !important;
    border: 1px solid #E4E4E4;
}
.reg_form_seller ul li {
    margin-bottom: 20px;
}
.reg_form_seller ul li label {
    display: inline-block;
    width: 150px;
    text-align: right;
}
.reg_form_seller ul li .inp {
    padding-left: 15px;
    width: 442px;
    height: 37px;
    line-height: 37px;
    border: 1px solid #ccc;
}

.safe {
    padding-left: 170px;
}
.safe em {
    padding: 0 12px;
    color: #fff;
}
.ruo {
    background-color: #de1111;
}
.zhong {
    background-color: #40b83f;
}

.qiang {
    background-color: #f79100;
}
.agree {
    padding-left: 95px;
}
.agree input {
    vertical-align: middle;
}
.agree a {
    color: #1ba1e6;
}
.btn {
    width: 200px;
    height: 34px;
    background-color: #c81623;
    font-size: 14px;
    color: #fff;
    margin: 30px 0 0 260px;
}

