.order_box{
    float: left;
    margin: 15px 0;
    margin-left: 35px;
    
    width: 900px;
    height: 205px;
}

.box_hd{
    padding-left: 25px;
    width: 100%;
    height: 20%;
    line-height: 46px;
    background: #20B5CD;
    text-align: left;
}